<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @shot.game %>
</p>

<p>
  <strong>Number:</strong>
  <%= @shot.number %>
</p>

<p>
  <strong>Frame:</strong>
  <%= @shot.frame %>
</p>

<p>
  <strong>Player:</strong>
  <%= @shot.player %>
</p>

<p>
  <strong>Pins:</strong>
  <%= @shot.pins %>
</p>

<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
