<div id='shot-form'>
  <%= form_for(@game, remote: true, authenticity_token: true, html: { class: 'form-inline'}) do |f| %>
    <%= f.fields_for :shots, @shot do |shot| %>
      <% if @shot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
            <% @game.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= shot.hidden_field :player, value: session[:player] %>
      <%= shot.hidden_field :frame, value: session[:frame] %>
      <%= shot.hidden_field :number, value: session[:shot_number] %>
      <div class='row'>
        <div class='col-xs-12 col-md-9 offset-xs-0 offset-md-2 col-lg-8 offset-lg-3'>
          <div class="field form-group">
            <%= shot.label :pins, "Score:", class: 'sr-only' %>
            <%= shot.number_field :pins, class: 'form-control form-control-lg', placeholder: 'Score' %>
          </div>
          <%= f.submit "Submit Shot", class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>

