<%= form_for(frame) do |f| %>
  <% if frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frame.errors.count, "error") %> prohibited this frame from being saved:</h2>

      <ul>
      <% frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %>
    <%= f.text_field :game_id %>
  </div>

  <div class="field">
    <%= f.label :player_number %>
    <%= f.number_field :player_number %>
  </div>

  <div class="field">
    <%= f.label :frame_number %>
    <%= f.number_field :frame_number %>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.number_field :total %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
